<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content={{url}}>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body onload="fun()">
    <script type="text/javascript">
        function fun(){
            alert({{url}})
            // window.location.assign({{url}});

            window.location('www.google.com') ;




            }   
            
    </script>
<input type="hidden" name="" id="url" value={{url}}>
hello
{{url}}
<script>
    alert();
    // console.log({{url}})
    
    window.location.href = document.getElementById('url').value;
// 
    fun();
</script>
</body>
</html>